.draggable {
  /* height: auto; */
}
.dropzone {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.headspace {
  height: 135px;
  display: flex;
}
.firefighter {
  background-image: url('./images/stick_figure.jpg');
  background-size:contain ;
  background-repeat:no-repeat; 
  background-position: center;
}